.app {
  position: relative;
  min-height: 100vh;
  &--dark{
    background: #4751c0;
    .pattern{
        position: absolute;
        &__pattern1{
            top: 10%;
        }
        &__pattern2{
            bottom: 0;
        }
        &__pattern3{
            right: 0;
            top: 7%;
        }
        &__pattern4{
            right: 0;
            bottom: 5%;
        }
    }
  }
  &--light{
    background: #ffffff; 
    .pattern{
        position: absolute;
        &__pattern1{
            top: 0;
        }
        &__pattern2{
            bottom: 0;
        }
        &__pattern3{
            right: 0;
            top: 10%;
        }
        &__pattern4{
            right: 0;
            bottom: 0;
        } 
    }
  }
}
