.score-card {
  padding: 20px;
  margin-bottom: 15px;
  font-size: 0.9rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  color: #464FAC;
  font-weight: 500;
  &--pass{
    background-color: #ffffff;
  }
  &--fail{
    background-color: #FFDBDB;
  }
  .score-card__mark {
    margin-left: auto;
    order: 2;
    padding-left: 0.3rem;
  }
}
